# Игнорируем скомпилированные cpp файлы
task1
task2
task3

# Игнорируем java.class-ы
Task1.class
Task2.class
Task3.class

# Игнорируем json файлы и прочее
*.json
node_modules/

# Игнорируем скомпилируемые *.js файлы
TypeScript/*.js

# Другие файлы
taskList.txt
