# Игнорируем скомпилированные cpp файлы (C++)
task1
task2
task3

# Игнорируем java.class-ы (Java)
Task1.class
Task2.class
Task3.class

# Игнорируем json файлы и прочее
*.json
node_modules/

# Игнорируем скомпилируемые *.js файлы (TypeScript)
TypeScript/*.js

# Игнорируем *.jar файлы (Kotlin)
*.jar

# Другие файлы
taskList.txt